    <!---Navbar section start--->
    <section>
        <div class="container">
            <nav class="navbar navbar-expand-lg nav-bg p-0">
                <a class="navbar-brand" href="/">
                    <img src="../../assets/images/logo.png" class="logo" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Products">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Aboutus">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>
    <!---Navbar section end--->


    <!-- Carousel Section -->
    <section>
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/images/carosual/25977.png" class="d-block w-100" alt="image">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <!-- Carousel Section end -->

    <!-- trending jewellery Section start -->
    <section class="space">
        <div class="container">
          <div class="about-box">
            <p class="trending">Trending Jewellery</p>
            <pre class="Exquisite">Exquisite design, distinguished craftsmanship, unparalleled luxury and a legacy that tells a captivating tale- Rose,
              is one of India’s leading luxury jewellery brands.
            </pre>
          </div>
          
          <!-- <section>
            <div class="container con-car">
              <div class="carousel main-carousel">
                <div class="carousel__item carousel__item--left">
                  <img src="../../assets/images/trending/pexels-lisa-fotios-4124314.png" alt="dog">
                </div>
                <div class="carousel__item carousel__item--main">
                  <img src="../../assets/images/trending/pexels-superlens-photography-13595583.png" alt="dog">
                </div>
                <div class="carousel__item carousel__item--right">
                  <img src="../../assets/images/trending/pexels-the-glorious-studio-9145400.png" alt="dog">
                </div>
                <div class="carousel__item">
                  <img src="../../assets/images/trending/pexels-lisa-fotios-4124314.png" alt="dog">
                </div>
                <div class="carousel__item">
                  <img src="../../assets/images/trending/pexels-superlens-photography-13595583.png" alt="dog">
                </div>
                <div class="carousel__item">
                  <img src="../../assets/images/trending/pexels-the-glorious-studio-9145400.png" alt="dog">
                </div>
                <div class="carousel__btns">
                  <button class="carousel__btn" id="leftBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <path fill="currentColor" fill-rule="evenodd" d="m15 4l2 2l-6 6l6 6l-2 2l-8-8z"/>
                    </svg>
                  </button>
                  <button class="carousel__btn" id="rightBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <path fill="currentColor" fill-rule="evenodd" d="m9.005 4l8 8l-8 8L7 18l6.005-6L7 6z"/>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </section> -->
          
          


          















          <section class="secction-swiper container">
            <div class="swiper" #swiperContainer>
              <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide--one"></div>
                <div class="swiper-slide swiper-slide--two"></div>
                <div class="swiper-slide swiper-slide--three"></div>
                <div class="swiper-slide swiper-slide--four"></div>
                <div class="swiper-slide swiper-slide--five"></div>
              </div>
             
              <div class="swiper-button-prev" (click)="prevSlide()"></div>
              <div class="swiper-button-next" (click)="nextSlide()"></div>
              
              <div class="swiper-pagination"></div>
            </div>
            </section>

<!-- <div class="gallery-box">
  <div class="gallery">
    <div class="gallery-container">
      <img class="gallery-item gallery-item-1" src="../../assets/images/trending/pexels-lisa-fotios-4124314.png" data-index="1">
      <img class="gallery-item gallery-item-2" src="../../assets/images/trending/pexels-superlens-photography-13595583.png" data-index="2">
      <img class="gallery-item gallery-item-3" src="../../assets/images/trending/pexels-the-glorious-studio-9145400.png" data-index="3">
      <img class="gallery-item gallery-item-4" src="../../assets/images/trending/pexels-lisa-fotios-4124314.png" data-index="4">
      <img class="gallery-item gallery-item-5" src="../../assets/images/trending/pexels-superlens-photography-13595583.png" data-index="5">
      <img class="gallery-item gallery-item-6" src="../../assets/images/trending/pexels-the-glorious-studio-9145400.png" data-index="6">
    </div>
    <div class="gallery-controls"></div>
  </div>
</div> -->
          
        </div>
      </section>

    <!-- trending jewellery Section end -->


    <!---Top Products section start--->
    <section class="space" id="Products">
        <div class="container text-center">
            <div class="row">
                <p class="top">Top Products For You</p>
                <div class="col-lg-3 col-md-6">
                    <img src="../../assets/images/top products/5a25fcd2-7cef-4c31-8020-d98c4f78dd6a.png" class="jewellery">
                    <p class="img-name">Rose Pearl Ring</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <img src="../../assets/images/top products/7a2edf16-22df-4d4f-b592-cd5d38c87425.png" class="jewellery">
                    <p class="img-name">Vivid Peacock Bangle</p>                
                </div>
                <div class="col-lg-3 col-md-6">
                    <img src="../../assets/images/top products/aadeca69-3b13-44b2-a70c-83deb7e172ea.png" class="jewellery">
                    <p class="img-name">Five Stone Nose Pin </p>    
                </div>
                <div class="col-lg-3 col-md-6">
                    <img src="../../assets/images/top products/d4c24905-4436-4670-b91d-9c826f811fad.png" class="jewellery">
                    <p class="img-name">Ethnic Bangles</p>    
                </div>
            </div>
        </div>
    </section>
    <!---Top Products section end--->

    <!---About us section start--->
    <section class="space" id="Aboutus">
        <div class="container text-center">
            <div class="about-box">
                <p class="about">About Us</p>
                    <pre class="all">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the
                        first true generator on the Internet. It uses a dictionary of over 200 Latin words.
                    </pre>                         
            </div>
        </div>
        <div class="container main-box">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="box">
                        <img src="../../assets/images/about us/pexels-elina-sazonova-1887473.png" class="about-img">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div>
                        <p class="building">Building Memories,<br> One Moment at a Time</p>
                    </div>
                    <div>
                        <p class="main-heading">Philosophy</p>
                        <p class="sub-heading">Gold, the ancient, the modern and the futuristic asset class– The class apart.</p>
                    </div>
                    <div>
                        <p class="main-heading">Vision</p>
                        <p class="sub-heading">To build, characterize, designate, exemplify, illustrate, interpret, formalize and label Gold as timeless currency with absolute class domination the Gold first.</p>
                    </div>
                    <div>
                        <p class="main-heading">Mission</p>
                        <p class="sub-heading">To stimulate, sustain demand for gold, provide monetization and be the leader on the GOLD Liquidity.</p>
                    </div>
                </div>
            </div>
        </div>  
    </section>
    <!---About us section end--->

    <!---Contact Us section start--->
    <section class="space" id="contact">
        <div class="container con-box">
            <p class="contact">Contact Us</p>
            <pre class="design">Exquisite design, distinguished craftsmanship, unparalleled luxury and a legacy that tells a captivating 
                tale- Rose, is one of India’s leading luxury jewellery brands.</pre>
        </div>

        <div class="container mt-5 text-center">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <img src="../../assets/images/contact us/phone-call (2).png" class="contact-icons" alt="phone">
                    <p class="number">+91 7645486421</p>
                    <p class="Support">Support team will be available from 9:00 AM till 7:00 PM</p>
                    <p class="quick">Connect with our delight team over a quick phone call</p>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <img src="../../assets/images/contact us/envelope (1).png" class="contact-icons" alt="envelope">
                    <p class="number">novia@gmail.com</p>
                    <pre class="quick1">
                        Your question or feedback are always 
                        welcome at bluejewellery.com</pre>
                </div>
                <div class="col-lg-3 col-md-6 text-center ">
                    <img src="../../assets/images/contact us/whatsapp.png" class="contact-icons" alt="whatsapp">
                    <p class="number">Whatsapp Us</p>
                    <p class="quick2">Our 24x7 shopping assistant is a text away</p>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <img src="../../assets/images/contact us/marker.png" class="contact-icons" alt="marker">
                    <p class="number">Address</p>
                    <p class="quick3">01-502, Om Shakti Samrat CHS Ltd., Plot No. 21, Shakti Nivas, Malad West, Mumbai
                        400064, India.</p>
                </div>
            </div>
        </div>
    </section>
    <!---Contact Us section end--->

    <!---footer section start--->
    <section>
        <footer class="footer-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-2">
                            <img src="../../assets/images/logo.png" class="logo" alt="logo">
                    </div>
                    <div class="col-lg-4 col-md-5 mt-2 footer-main text-center">
                       <a href="/"><p class="footer-main">Home</p></a>
                       <a href="#Products"><p class="footer-main">Products</p></a>
                       <a href="#Aboutus"><p class="footer-main">About us</p></a>
                       <a href="#contact"><p class="footer-main">Contact Us</p></a>
                     
                    </div>
                    <div class="col-lg-1 gap"></div>
                    <div class="col-lg-4 col-md-5 mt-2 footer-icons justify-content-end">
                        <p class="footer-main">Follow Us: &nbsp;</p>
                            <a href="https://www.facebook.com/matrika.goldsikka">
                                <img src="../../assets/images/footer icons/facebook.png" alt="facebook" class="footer-icons">
                            </a>

                            <a href="https://www.instagram.com/matrika_goldsikka/">
                                <img src="../../assets/images/footer icons/instagram.png" alt="instagram" class="footer-icons">
                            </a>

                            <a href="https://www.linkedin.com/company/goldsikkalimited/">
                                <img src="../../assets/images/footer icons/linked in.png" alt="linked in" class="footer-icons">
                            </a>

                            <a href="https://www.youtube.com/@matrika_goldsikka">
                                <img src="../../assets/images/footer icons/youtube.png" alt="youtube" class="footer-icons">   
                            </a>
                       
                            <a href="https://in.pinterest.com/matrika_goldsikka/">
                                <img src="../../assets/images/footer icons/pintrest.png" alt="pintrest" class="footer-icons">
                            </a>

                            <a href="https://x.com/i/flow/login?redirect_after_login=%2Fmatrika_gs">
                                <img src="../../assets/images/footer icons/x-new-twitter.png" alt="twitter" class="footer-icons">
                            </a>                                             
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="d-flex tech1">
                                <p class="footer-main">We Accept: &nbsp;</p>
                                <img src="../../assets/images/footer icons/visa.svg.png" alt="visa" class="payment-img">
                                <img src="../../assets/images/footer icons/master_card.svg.png" alt="master_card" class="payment-img">
                                <img src="../../assets/images/footer icons/paytm.svg.png" alt="paytm" class="payment-img">
                                <img src="../../assets/images/footer icons/rupay.svg.png" alt="rupay" class="payment-img">
                                <img src="../../assets/images/footer icons/cod.svg.png" alt="cod" class="payment-img">
                                <img src="../../assets/images/footer icons/paypal.svg.png" alt="paypal" class="payment-img">
                                <img src="../../assets/images/footer icons/american_express.svg.png" alt="american_express"  class="payment-img">
                            </div>
                        </div>
                        <div class="col-lg-6 mt-2">
                            <p class="tech2">2023-2024 diamond dreams. Design by: X-YUG Technologies</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    <!---Footer section end--->