@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import '~swiper/swiper-bundle.css';

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

.space {
    margin: 40px 0 40px;
}

.logo {
    width: 163px;
    height: 38px;
}

.nav-item .active {
    font-family: Roboto Condensed;
    font-size: 14px;
    font-weight: 700;
    color: #AD336D;
}

.nav-link {
    font-family: Roboto Condensed;
    font-size: 14px;
    font-weight: 400;
    color: #8D8D8D;
    margin: 10px 40px;
}

/* Carousel Section */
.carousel-img {
    width: 100%;
}

.trending-box {
    width: 50%;
    margin: auto;
}

.trending {
    font-family: Roboto Condensed;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}

.Exquisite {
    font-family: Roboto Condensed;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    white-space: pre-line;
    color: #8D8D8D;
}
  
  /* .con-car {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about-box {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .main-carousel {
    position: relative;
    display: grid;
    place-items: center;
    margin-top: 2rem; 
  }
  
  .carousel__item {
    position: absolute;
    height: 35rem;
    width: 25rem;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, .5);
    position: absolute;
    transform: translate(-50%, -50%) scale(.1);
    z-index: 0;
    transition: all .2s linear;
  }
  
  .carousel__item img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
  
  .carousel__item--main {
    transform: translate(-50%, -50%) scale(1);
    z-index: 2;
    cursor: pointer;
  }
  
  .carousel__item--left {
    transform: translate(-160%, -50%) scale(.9);
    z-index: 1;
  }
  
  .carousel__item--right {
    transform: translate(60%, -50%) scale(.9);
    z-index: 1;
  }
  
  .carousel__btns {
    position: absolute;
    bottom: 2rem; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2rem;
  }
  
  .carousel__btn {
    background-color: transparent;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 1px solid currentColor;
    color: #fff;
    cursor: pointer;
  }
  
  .carousel__btn svg {
    height: 1.8rem;
    width: 1.8rem;
  }
  
  .carousel__btn:hover {
    color: #aaa;
  }
   
 */






.section-swiper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    width: 300px;
    height: 400px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    filter: blur(1px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
}

.swiper-slide-active {
    filter: blur(0px);
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    background: #fff;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 5px;
}

.swiper-slide {
    text-transform: uppercase;
    color: #fff;
    padding: 7px 18px 7px 25px;
    display: inline-block;
    border-radius: 0 20px 20px 0px;
    font-size: 0.8rem;
    font-family: "Open Sans", sans-serif;
}

.swiper-slide--one {
    background: url("../../assets/images/trending/pexels-lisa-fotios-4124314.png") no-repeat 50% 50% / cover;
}

.swiper-slide--two {
    background: url("../../assets/images/trending/pexels-superlens-photography-13595583.png") no-repeat 50% 50% / cover;
}

.swiper-slide--three {
    background: url("../../assets/images/trending/pexels-the-glorious-studio-9145400.png") no-repeat 50% 50% / cover;
}

.swiper-slide--four {
    background: url("../../assets/images/trending/pexels-lisa-fotios-4124314.png") no-repeat 50% 50% / cover;
}

.swiper-slide--five {
    background: url("../../assets/images/trending/pexels-superlens-photography-13595583.png") no-repeat 50% 50% / cover;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}

.swiper-button-prev {
    left: 10px;
}

.swiper-button-next {
    right: 10px;
} 


/* .gallery-box {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.gallery {
    width: 100%;
}

.gallery-container {
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}

.gallery-item {
    height: 200px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 330px;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
}

.gallery-item-1 {
    left: 15%;
    opacity: .4;
    transform: translateX(-50%);
}

.gallery-item-2,
.gallery-item-4 {
    height: 250px;
    opacity: 0.8;
    width: 380px;
    z-index: 1;
}

.gallery-item-2 {
    left: 30%;
    transform: translateX(-50%);
}

.gallery-item-3 {
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    height: 300px;
    opacity: 1;
    position: absolute;
   
    left: 50%;
    transform: translateX(-50%);
    width: 430px;
    z-index: 2;
}


.gallery-item-4 {
    left: 70%;
    transform: translateX(-50%);
}

.gallery-item-5 {
    left: 85%;
    opacity: .4;
    transform: translateX(-50%);
}

.gallery-item-6 {
    left: 85%;
    opacity: .4;
    transform: translateX(-50%);
}

.gallery-controls {
    display: flex;
    justify-content: center;
    height: 30px;
}

.gallery-controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    margin: 0 20px; 
    padding: 12px;
    text-transform: capitalize;
}

.gallery-controls button:hover {
    color: #007bff; 
}

.gallery-controls .gallery-controls-previous {
    position: relative;
    margin-right: 10px;
}

.gallery-controls .gallery-controls-previous::before {
    border: solid 1px #000;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 10px; 
    left: -20px; 
    padding: 5px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(135deg); 
    transition: left 0.15s ease-in-out;
    width: 10px; 
}

.gallery-controls .gallery-controls-previous:hover::before {
    left: -30px; 
}

.gallery-controls .gallery-controls-next {
    position: relative;
}

.gallery-controls .gallery-controls-next::before {
    border: solid 1px #000;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 10px; 
    padding: 5px;
    position: absolute;
    right: -20px; 
    top: 50%;
    transform: translate(50%, -50%) rotate(-45deg); 
    transition: right 0.15s ease-in-out;
    width: 10px; 
}

.gallery-controls .gallery-controls-next:hover:before {
    right: -30px; 
}

.gallery-nav {
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.gallery nav li {
    background: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 16px;
    width: 10px;
}

.gallery-nav li.gallery-item-selected {
    background: #555;
} */

.top {
    font-family: Roboto Condensed;
    font-size: 32px;
    font-weight: 500;
    line-height: 37.5px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #31313B;
}

.img-name {
    font-family: Roboto Condensed;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #31313B;
    margin-top: 10px;
}

.about-box {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.about {
    font-family: Roboto Condensed;
    font-size: 42px;
    font-weight: 500;
    text-align: center;
    color: #31313B;
    text-align: center;
}

.all {
    font-family: Roboto Condensed;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #31313B;
    white-space: pre-line;
}

.about-img {
    width: 324px;
    margin-left: 26%;
}

.jewellery {
    width: 282px;
}

.main-box {
    background-color: #ECE9E0;
    padding: 5%;
}

.box {
    width: 434px;
    background-color: #AD336D;
    margin-left: 20%;
}

.building {
    font-family: Roboto Condensed;
    font-size: 32px;
    font-weight: 400;
    text-align: left;
    color: #FF0F7B;
    margin-top: 10%;
}

.main-heading {
    font-family: Roboto Condensed;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #31313B;
    margin-top: 6%;
}

.sub-heading {
    font-family: Roboto Condensed;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #8D8D8D;
}

.con-box {
    width: 45%;
    margin: 0 auto;
    overflow: visible;
}

.contact {
    font-family: Cuprum;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.design {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #8D8D8D;
    white-space: pre-line;
}

.contact-icons {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.number {
    font-family: Roboto Condensed;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: center;
    color: #31313B;
}

.Support {
    font-family: Roboto Condensed;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    margin: 0px 60px auto;
}

.quick {
    font-family: Roboto Condensed;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #31313B;
    white-space: pre-line;
    margin: 10px 55px auto;
}

.quick1 {
    font-family: Roboto Condensed;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #31313B;
    white-space: pre-line;
}

.quick2 {
    font-family: Roboto Condensed;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #31313B;
    white-space: pre-line;
    margin: 10px 35px auto;
}

.quick3 {
    font-family: Roboto Condensed;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #31313B;
    white-space: pre-line;
    margin: 10px 20px auto;
}

.footer-bg {
    background-color: #F5F5F5;
}

footer {
    padding: 1%;
}

.footer-name {
    font-family: Cuprum;
    font-size: 24px;
    font-weight: 700;
}

a{ text-decoration: none;}

.footer-img {
    width: 91px;
    height: 42px;
}

.footer-main {
    font-family: Roboto Condensed;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    color: #31313B;
    
}

.footer-icons {
    height: 24px;
    display: flex;
    column-gap: 10px;
}

.tech1,
.tech2 {
    font-family: Roboto Condensed;
    font-size: 14px;
    font-weight: 400;
    color: #31313B;
    flex-wrap: wrap;
    justify-content: space-between;
}

.payment-img {
    display: flex;
    height: 20px;
    color: #989898;
}

.tech2 {
    float: right;
}

@media screen and (min-width:320px) and (max-width:768px) {
    .navbar {
        z-index: 1;
    }

    .nav-link,
    .nav-item {
        margin: 0px;
    }

    .carousel-img {
        height: 200px;
    }


    .about-box {
        width: 100%;
    }

    .con-box {
        width: 100%;
    }

    .gap {
        display: none;
    }

    .jc {
        margin-top: 5%;
        width: 100%;
    }

    .jewellery {
        width: 90%;
        overflow: hidden;
    }

    .all {
        margin: 0px 30px auto;
    }

    .design {
        margin: 0px 30px auto;
    }

    .about-img {
        width: 74%;
    }

    .box {
        width: 100%;
        margin-left: 0%;
    }

    .footer-main {
        column-gap: 10px;
    }

    .footer-icons {
        column-gap: 10px;
        display: flex;
    }

    .footer-name {
        text-align: center;
    }
}


@media screen and (max-width:1024px) {
    .box {
        width: 100%;
        background-color: #AD336D;
        margin-left: 0%;
    }
    
}